@font-face {
    font-family: "PretendardMedium";
    src: url("../fonts/Pretendard-Medium.otf");
}

@font-face {
    font-family: "PretendardBold";
    src: url("../fonts/Pretendard-Bold.otf");
}

.about-cats {
    width: 90vw;
    display: flex;
    margin: auto;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    font-family: 'PretendardBold';
    font-size: 28px;
    color: #A66D4F;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 300px); /* 카드 너비 */
    gap: 50px; /* 카드 사이 간격 */
    padding: 20px; /* 전체 padding */
    margin: 0 auto; /* 가운데 정렬 */
    max-width: calc(4 * 300px + 3 * 50px + 40px); /* 최대 너비 수정: 카드 너비와 간격, 패딩을 고려 */
    justify-content: center; /* 카드들을 가운데 정렬 */
}

.card {
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 20px;
}

.card-image {
    width: 100%;
    height: 300px; /* 이미지 높이 */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 10px;
    background-color: #A66D4F; /* 배경색 */
    color: #fff; /* 글자색 흰색으로 */
    font-size: 18px;
    height: 80px; /* 텍스트 영역 높이 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    font-family: 'PretendardMedium';
    text-align: center;
    display: -webkit-box; /* Flexbox 사용을 통해 텍스트 클램프를 지원 */
    -webkit-line-clamp: 3; /* 최대 세 줄까지 표시 */
    -webkit-box-orient: vertical; /* Flexbox 방향을 수직으로 설정 */
    white-space: normal; /* 일반적인 줄바꿈 허용 */
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* 최대 세 줄까지 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 말줄임표 추가 */
    white-space: normal; /* 줄 바꿈을 허용 */
}
