.map-size {
  width: 90vw;
  height: 50vh;
  display: block;
  margin: 0 auto;
}

.custom-marker {
  background-color: #A66D4F;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  transform: translate(-50%, -100%);
  position: relative;
}

.custom-marker::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #A66D4F;
}