@font-face {
  font-family: "PretendardMedium";
  src: url("../fonts/Pretendard-Medium.otf");
}


.navbar {
  background: #ffffff;
  height: 10vh;
  display: flex;
  font-size: 28px;
  font-family: 'PretendardMedium';
  color: #ffffff;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.nav-left{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 3%;
}

.nav-right {
  margin-right: 3%;
  list-style: none;
}

.nav-logo {
  justify-content: right;

}

.nav-li {
  float: left;
  margin-left: 64px;
}

.nav-link {
  color: #A66D4F;
  text-decoration: none;
}